@font-face {
    font-family: Montserrat, sans-serif;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

.course-buttons-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.box {    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    background: white;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.box:hover {
    font-size: 16px;
}

.box::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #27AAE1 0%, #F7941D 100% );
    transform: translate3d(0, 0, 0) scale(0.98);
    filter: blur(5px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box:hover::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #27AAE1 0%, #F7941D 100% );
    transform: translate3d(0, 5px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box:hover::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}