@font-face {
    font-family: Montserrat, sans-serif;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 1010px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a::after {
    color: black;
}

select {
    border: 0px;
    height: 20px;
    left: 1086px;
    top: 46px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.wrapper {
    display: flex;
    padding: 0;
}
.icon {
    width: 17px;
    height: 17px;
}

.logo {
    display: flex;
}

.footer {
    background-color: #00093C;
    height: 560px;
}

.footer-container {
    display: flex;
}

.footer-info-block {
    margin-left: 370px;
    margin-top: 135px;
    padding: 0;
}

.footer-info-block-number {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 42px;
}

.footer-info-block-text {
    font-size: 14px;
    color: white;
    margin-top: 25px;
}

.footer-social {
    margin-top: 42px;
}

.footer-brand {
    font-size: 12px;
    color: gray;
    margin-top: 42px;
}

.footer-block {
    margin-top: 30px;
    margin-left: 100px;
}

.footer-block-title {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.footer-course {
    margin-top: 35px;
}

.footer-text {
    font-size: 14px;
    margin-top: 20px;
    color: white;
}