.container {
    margin-left: 10%;
}

.button {
    margin-left: 23%;
    margin-top: 5%;
}

.link {
    color:blue ;
}

.resetPassword {
    margin-left: 5%;
    margin-top: 15%;
}

.error {
    color: red;
    position: absolute;
    left: 43%;
    top: 43%;
}