.container {
    margin-left: 40%;
    margin-top: 5%;
}

.button {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.owlImage {
    position: absolute;
    left: 15%;
}

.owlText {
    position: absolute;
    left: 19%;
    top: 23%;
}